- title t('title.home', :default => "Ecomap")

%p.text Lorem ipsum ex homero dolore alterum ius, his eius platonem maiestatis ea, vidisse tractatos pri at. Id nonumy sanctus theophrastus eos, his ut alii unum option. No ius mazim qualisque voluptatibus, sit alia iriure eligendi ea. Id eam mutat iusto percipit, in duo altera maiestatis. Et vix dicam albucius takimata, ut quo vidit interesset, qui et eius melius latine.

%p.text No natum constituto complectitur eos, tollit qualisque argumentum per at. Nam ei atqui homero alterum, eu integre copiosae mei. Et unum nibh nostrum est, mel ne saperet vituperata. Est unum adipisci id, usu no legere maluisset. Duo ne diam oratio blandit, nonummy delectus detraxit ut sea.

%p.text Erant mundi ex sit, posidonium sadipscing instructior no has, ea nusquam reprimique ius. Sit dolore ocurreret concludaturque ad, odio utroque eum in. Diam eligendi at vix, eum ei eruditi accusata. Ubique mediocrem salutandi ea eam, bonorum interpretaris an vis.

%p.text Te ius latine eloquentiam, nec no quem esse oblique. Aperiam ocurreret comprehensam pri ad, quaeque perfecto adversarium cum in, docendi euripidis te usu. Oblique salutatus assentior ex mei, duo nobis alterum patrioque ex. Option discere legendos eu sed. Mea unum soleat ea.
