// Variables
$fonts-serif: "DejaVu Serif", "Times New Roman", serif;
$fonts-sans: "Lucida Sans", "Lucida Grande", "Verdana", "Arial", "DejaVu Sans Serif", sans-serif;
$fonts-mono: "Monaco", "DejaVu Sans Mono", monospace;
$bg-color: #E5E6DF;
$fg-color: #3E471D;
$link-color: #638000;

// Mixins

@mixin border-radius($radius: 4px) {
  border-radius: $radius; /* CSS3 */
  -moz-border-radius: $radius; /* Gecko */
  -webkit-border-radius: $radius; /* WebKit */
}
@mixin box-shadow($radius, $color: rgba(0,0,0,0.5), $x: 0px, $y: 0px) {
  box-shadow: $x $y $radius $color; /* CSS 3 */
  -moz-box-shadow: $x $y $radius $color; /* Gecko */
  -webkit-box-shadow: $x $y $radius $color; /* WebKit */
}
@mixin gradient($start, $stop) {
  background-color: $stop;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.1, $start), color-stop(0.51, $stop));
  background-image: -moz-linear-gradient(center bottom, $start 10%, $stop 51%);
}

// Elements
/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0;
}   
/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, section {
  display: block;
}
body {
  font: {
    weight: normal;
    style: normal;
    family: $fonts-sans;
    size: 12pt;
  }
  background-color: #62702E;
  color: $fg-color;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  color: $link-color;
}
#container {
  width: 1000px;
  //height: 1000px;
  margin: auto;
  padding: 4px;
}
.rounded-box {
  @include border-radius(10px);
  @include box-shadow(16px);
}
aside {
  background-color: $bg-color;
  margin-left: 8px;
  padding: 8px;
  float: right;
  clear: right;
  width: 200px;
  min-height: 400px;
}
section#main {
  background-color: $bg-color;
  overflow: hidden;
  margin-right: 8px;
  padding: 8px;
  min-height: 400px;
}
section#middle {
  clear: both;
}
article {
  margin: 8px 0px 8px 0px;
  padding: 8px;
  height: auto;
  text-align: justify;
  overflow: hidden;
  //font: {
  //  size: 16px;
  //}
}
header {
  overflow: hidden;
  padding: 8px;
  margin: 8px 0px 8px 0px;
  color: white;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, .5);
  @include gradient(#7A9900, #8BB100);
  @include border-radius(8px);
  @include box-shadow(8px, rgba(0, 0, 0, .4), 2px, 2px);
}
nav {
  &.main {
    font: {
      size: 14pt;
      /*weight: bold;*/
    }
    padding: 8px;
    margin: 8px 0px 8px 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
    @include gradient(#A75100, #BF5E00);
    @include border-radius(8px);
    @include box-shadow(16px, rgba(0, 0, 0, .4), 2px, 2px);
    &, a, a:hover, * {
      color: #FFFF99;
      text-decoration: none;
    }
    a:hover {
      color: white; 
    }
  }
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 8px 0px 8px;
  }
}
footer {
  &, a, a:hover {
    color: $bg-color;
  }
  font: {
    size: 9pt;
  }
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  margin-top: 8px;
//  background-color: $bg-color;
}
#flash-container {
  margin: 4px;
}
.flash-msg {
  font: {
    size: 12pt;
    family: $fonts-sans;
  }
  border-width: 1px;
  border-style: solid;
  @include border-radius(8px);
  padding: 8px;
  margin: 4px 0px 4px 0px;
  text-indent: 0em;
}
.notice {
  @extend .flash-msg;
  background-color:#D8E8C2;
  border-color: #B1D28F;
}
.warning {
  @extend .flash-msg;
  background-color: #ffcc66;
}
.error, .alert {
  @extend .flash-msg;
  background-color: #FFBFBF;
  border-color: #FF8080;
}
#error_explanation {
  @include border-radius(5px);
  border: {
    style: solid;
    color: red;
    width: 1px;
  }
  font: {
    family: $fonts-sans;
  }
  h2 {
    font-size: 12pt;
    font-weight: bold;
    background-color: #ff6666;
    color: white;
    padding: 4px;
  }
  ul {
    padding: 8px;
    background-color: $bg-color;
    color: $fg-color;
    li {
      font-size: 10pt;
      margin-left: 2em;
    }
  }
}
h1, h2, h3 {
  font-family: $fonts-sans;
}
#user-nav {
  padding: 4px;
  font: {
    size: 12pt;
  }
}
#version-info {
  font: {
    size: 8pt;
    family: $fonts-mono;
  }
  margin: 4px;
}
span.help {
  color: gray;
  font: {
    size: 9pt;
  }
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=datetime],
input[type=time],
input[type=date],
input[type=number],
textarea {
  background-color: #FFDFBF;
  border-color: #FF7E00;
  border-style: solid;
  border-width: 1px;
  @include border-radius(5px);
  color: $fg-color;
  padding: 4px;
  font: {
    size: 14pt;
  }
}
input[type=button] {
  @extend textarea;
  background-color: #E7B550;
  border-color: #CD931D;
  @include box-shadow(10px, rgba(0, 0, 0, .5), 1px, 1px);
  @include gradient(#CD931D, #E7B550);
  text-align: center;
  color: white;
  margin: 4px;
  padding: 8px;
  &:hover {
    @include gradient(#966B15, #C88F1B);
    border-color: #966B15;
  }
}
input[type=submit] {
  @extend input[type=button]; 
  font-weight: bold;
}
input[type=checkbox] {
  @extend textarea;
  width: 16px;
  height: 16px;
  padding: 2px;
}
p {
  margin: 8px 0px 8px 0px;
  &.text {
    text-align: justify;
    margin: .5em 0em .5em 0em;
    text-indent: 1em;
  }
}

#pagination {
  font-size: 10pt;
}
.action_links {
  margin: 8px;
  a {
    padding: 4px 8px 4px 8px;
    background-color: $fg-color;
    color: $bg-color;
    font-size: 10pt;
    @include border-radius(4px);
  }
}
#scaffold {
  font: {
    size: 10pt;
  }
  margin: 8px auto 8px auto;
  width: 98%;
  th, td {
    @include border-radius(4px);
    &, a {
      color: $bg-color;
    }
    &.object_link {
      background-color: transparent;
      width: 26px;
      padding: 2px;
      text-align: center;
      vertical-align: middle;
      a {
        color: $fg-color;
      }
    }
  }
  th {
    padding: 4px;
    background-color: #555;
  }
  td {
    padding: 0px 4px 0px 4px;
    background-color: #888;
  }
}
.attribute {
  margin: 8px;
}
li.required {
  label {
    font-weight: bold;
    abbr {
      color: red;
      margin: 2px;
      font: {
        size: 16pt;
        weight: bold;
      }
    }
  }
}
