@mixin border-radius($radius: 4px) {
  border-radius: $radius; /* CSS3 */
  -moz-border-radius: $radius; /* Gecko */
  -webkit-border-radius: $radius; /* WebKit */
}
@mixin shadow($radius, $color: rgba(0,0,0,0.5)) {
  box-shadow: 0 0 $radius $color; /* CSS 3 */
  -moz-box-shadow: 0 0 $radius $color; /* Для Firefox */
  -webkit-box-shadow: 0 0 $radius $color; /* Для Safari и Chrome */
}
@mixin flash-msg {
  border-width: 2px;
  border-style: solid;
  @include border-radius(4px);
  padding: 8px;
}
html {
  font: {
    family: "DejaVu Sans Serif", "Tahoma", sans-serif;
    size: 10pt;
  }
}
body {
  background-color: gray;
}
#container {
  width: 1000px;
  /* height: 1000px; */
  background-color: white;
  margin: auto;
  padding: 4px;
  border-radius: 4px;
  @include shadow(16px);
}
aside {
  float: right;
  width: 200px;
  height: 100%;
}
article {
  height: auto;
  text-align: justify;
  padding: 0 1em 0 1em;
  overflow: hidden;
  font: {
    size: 12pt;
  }
}
header {
  overflow: hidden;
  padding: 8px;
}
nav {
  &.main {
    padding: 4px;
    font: {
      size: 14pt;
      /*weight: bold;*/
     }
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
}
footer {
  &, a, a:hover {
    color: gray;
  }
  font: {
    size: 9pt;
  }
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
.notice {
  @include flash-msg;
  background-color: #aceb94;
  border-color: green;
}
.warning {
  @include flash-msg;
  background-color: #ffcc66;
}
.error {
  @include flash-msg;
  background-color: #ff6666;
}
h1, h2, h3 {
  font-family: "DejaVu Serif", "Times New Roman", serif;
  margin: 4px;
}
#user-nav {
  padding: 4px;
  font: {
    size: 12pt;
  }
}
