@charset "UTF-8";
html {
  font-family: "DejaVu Sans Serif", "Tahoma", sans-serif;
  font-size: 10pt; }

body {
  background-color: gray; }

#container {
  width: 1000px;
  /* height: 1000px; */
  background-color: white;
  margin: auto;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* CSS 3 */
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* Для Firefox */
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* Для Safari и Chrome */ }

aside {
  float: right;
  width: 200px;
  height: 100%; }

article {
  height: auto;
  text-align: justify;
  padding: 0 1em 0 1em;
  overflow: hidden;
  font-size: 12pt; }

header {
  overflow: hidden;
  padding: 8px; }

nav.main {
  padding: 4px;
  font-size: 14pt;
  /*weight: bold;*/ }
nav li {
  list-style-type: none;
  display: inline-block; }

footer {
  font-size: 9pt;
  vertical-align: middle;
  text-align: center;
  padding: 20px; }
  footer, footer a, footer a:hover {
    color: gray; }

.notice {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  /* CSS3 */
  -moz-border-radius: 4px;
  /* Gecko */
  -webkit-border-radius: 4px;
  /* WebKit */
  padding: 8px;
  background-color: #aceb94;
  border-color: green; }

.warning {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  /* CSS3 */
  -moz-border-radius: 4px;
  /* Gecko */
  -webkit-border-radius: 4px;
  /* WebKit */
  padding: 8px;
  background-color: #ffcc66; }

.error {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  /* CSS3 */
  -moz-border-radius: 4px;
  /* Gecko */
  -webkit-border-radius: 4px;
  /* WebKit */
  padding: 8px;
  background-color: #ff6666; }

h1, h2, h3 {
  font-family: "DejaVu Serif", "Times New Roman", serif;
  margin: 4px; }

#user-nav {
  padding: 4px;
  font-size: 12pt; }

#version-info {
  font-size: 8pt;
  font-family: "Monaco", "DejaVu Sans Mono", monospace;
  margin: 4px; }
