@charset "UTF-8";
/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0; }

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, section {
  display: block; }

html {
  font-family: "DejaVu Sans Serif", "Tahoma", sans-serif;
  font-size: 10pt; }

body {
  background-color: gray; }

#container {
  width: 1000px;
  /* height: 1000px; */
  background-color: white;
  margin: auto;
  padding: 4px;
  border-radius: 10px;
  /* CSS3 */
  -moz-border-radius: 10px;
  /* Gecko */
  -webkit-border-radius: 10px;
  /* WebKit */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* CSS 3 */
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* Для Firefox */
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  /* Для Safari и Chrome */ }

aside {
  float: right;
  width: 200px;
  height: 100%; }

article {
  height: auto;
  text-align: justify;
  padding: 0 1em 0 1em;
  overflow: hidden;
  font-size: 12pt; }

header {
  overflow: hidden;
  padding: 8px; }

nav.main {
  padding: 4px;
  font-size: 14pt;
  /*weight: bold;*/ }
nav li {
  list-style-type: none;
  display: inline-block; }

footer {
  font-size: 9pt;
  vertical-align: middle;
  text-align: center;
  padding: 20px; }
  footer, footer a, footer a:hover {
    color: gray; }

.flash-msg, .notice, .warning, .error, #error_explanation {
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  /* CSS3 */
  -moz-border-radius: 8px;
  /* Gecko */
  -webkit-border-radius: 8px;
  /* WebKit */
  padding: 8px; }

.notice {
  background-color: #D8E8C2;
  border-color: #B1D28F; }

.warning {
  background-color: #ffcc66; }

.error {
  background-color: #ff6666; }

#error_explanation {
  background-color: #ff6666;
  font-size: 9pt;
  font-family: "DejaVu Sans Serif", "Tahoma", sans-serif;
  padding: 4px;
  margin: 4px; }

h1, h2, h3 {
  font-family: "DejaVu Serif", "Times New Roman", serif;
  margin: 4px; }

#user-nav {
  padding: 4px;
  font-size: 12pt; }

#version-info {
  font-size: 8pt;
  font-family: "Monaco", "DejaVu Sans Mono", monospace;
  margin: 4px; }

span.help {
  color: gray;
  font-size: 9pt; }
