%p
  %a.load-placemarks{:href => "#",
    :data => {:ymapsml_url => ymapsml_url}}
    = t('ymaps.load_placemarks', :default=> "Load Placemarks")
  \|
  = link_to t('ymaps.ymapsml_link', :default => "Link to YMapsML"), ymapsml_url
