- content_for :head do
  = ymaps_include_tag
  = javascript_include_tag 'ecomap'
  = map_link

- if @location
  #yandex-map.rounded-box{:data => {:center_lat => @location.lat, :center_lng => @location.lng, :default_scale => 12}}
- else
  #yandex-map.rounded-box
